<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>Spring Boot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet" media="screen"/>
  <link href="/css/styles.css"
        rel="stylesheet"
        media="screen"/>
  <link href="/webjars/bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="col-ld-6 col-ld-offset-3">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">北信科校园网流量分析系统</a>
      </div>
      <div sec:authorize="hasRole('ROLE_TEACHER')">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">学生管理 <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
      <div sec:authorize="isAuthenticated()">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">HTTP仪表盘 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">DNS仪表盘</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"
                                  aria-hidden="true"></span><span th:text="' '+${user.nickName}"> user</span></a></li>
            <li><a href="/pass/logout">注销</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div th:if="${param.register==null and param.forgetPassword==null and param.signIn==null}">
  <script>
    /*<![CDATA[*/
    window.location = "/pass?signIn&signInFirst";
    /*]]>*/
  </script>
</div>
<div class="container" th:if="${param.signIn}">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default"
           style="border: 1px solid rgba(1, 2, 2, 0.1);border-radius: 4px;box-shadow: 0 15px 25px rgba(1, 2, 2, 0.1);padding: 20px 20px;">
        <div class="" style="padding: 10px 15px;">
          <h3 class="panel-title">登录</h3>
        </div>
        <div class="panel-body">
          <form th:action="@{/pass/signIn}" method="post" id="signInForm">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="电子邮箱／手机号" name="username" type="text"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="密码" name="password" type="password" value=""/>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.normalFailure} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>用户名或密码错误。</span>
                <span th:if="${param.count}">
                  <span th:text="'登录错误次数大于5会锁定账户，当前登录错误次数'+${param.count[0]}"></span>
                </span>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.deleteed} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>当前用户已删除。</span>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.locked} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>当前用户已被锁。</span>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.unknownError} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>未知错误。</span>
              </div>
              <div class="alert alert-danger alert-dismissible autoDismiss" role="alert" th:if="${param.signInFirst} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>请先登录。</span>
              </div>
              <div class="alert alert-success alert-dismissible autoDismiss" role="alert"
                   th:if="${param.logoutSuccess} ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>注销成功。</span>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="登录"/>
              </div>
              <div class="form-group">
                没有账户？<a href="/pass?register">立即注册</a>
              </div>
              <div class="form-group">
                <a href="/pass?forgetPassword">忘记密码？</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" th:if="${param.register}">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default"
           style="border: 1px solid rgba(1, 2, 2, 0.1);border-radius: 4px;box-shadow: 0 15px 25px rgba(1, 2, 2, 0.1);padding: 20px 20px;">
        <div class="" style="padding: 10px 15px;">
          <h3 class="panel-title">注册</h3>
        </div>
        <div class="panel-body">
          <form th:action="@{/pass/register}" method="post" id="registerForm">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="电子邮箱" name="email" type="text"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="密码" name="password" type="password" value=""/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="重复密码" name="passwordCheck" type="password" value=""/>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.unknownError}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>注册失败，未知错误。</span>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.duplicatedEmail}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>该邮箱已经注册，<a href="/pass?signIn">立即登录</a></span>
              </div>
              <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.wrongFormat}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>邮箱或密码格式有误。</span>
              </div>
              <div class="alert alert-success alert-dismissible" role="alert" th:if="${param.success}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>注册成功, <a href="/pass?signIn">立即登录</a></span>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="注册"/>
              </div>
              <div class="form-group">
                已有账户? <a href="/pass?signIn">立即登录</a>
              </div>
              <div class="form-group">
                <a href="/pass?forgetPassword">忘记密码？</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
　　
<div class="container" th:if="${param.forgetPassword}">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default"
           style="border: 1px solid rgba(1, 2, 2, 0.1);border-radius: 4px;box-shadow: 0 15px 25px rgba(1, 2, 2, 0.1);padding: 20px 20px;">
        <div class="" style="padding: 10px 15px;">
          <h3 class="panel-title">忘记密码</h3>
        </div>
        <div class="panel-body">
          <form th:action="@{/pass/forgetPassword}" method="post" id="forgetPasswordForm">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="电子邮箱" name="email" type="text"/>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="发送验证邮件"/>
              </div>
              <div class="form-group">
                没有账户？<a href="/pass?register">立即注册</a>
              </div>
              <div class="form-group">
                已有账户？<a href="/pass?signIn">立即登录</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="/js/myHome.js"></script>
<script src="/js/pass.js"></script>
</body>
</html>
